<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <title>Login Form</title>
</head>

<body>
    <div class="container">
        <h3>Please Login</h3>
        <hr>
        <div th:if="${param.error}">
            <i>Hatali giris</i>
        </div>
        <form action="#" th:action="@{authenticate}" method="post">
            <p>User Name <input type="text" name="username"></p>
            <p>Passord <input type="text" name="password"></p>
            <input type="submit" value="Login" class="btn btn-primary">
        </form>
    </div>
</body>

</html>